/* .main-form{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.main-form h1{
    font-size: 30px;
    font-weight: 300px;
    color: var(--error);

}

.main-form form{

} */